{:paths ["src"]
 :deps {morphe/core {:local/root "../morphe-next"}
        org.lwjgl/lwjgl {:mvn/version "3.4.3"}
        org.lwjgl/lwjgl-openal {:mvn/version "3.4.3"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.4.3"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.4.3"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.4.3"}}
 :aliases {:macos-arm64 {:jvm-opts ["-XstartOnFirstThread"
                                    "--enable-native-access=ALL-UNNAMED"]
                         :extra-deps {org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-openal$natives-macos-arm64 {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-stb$natives-macos-arm64 {:mvn/version "3.4.3"}}}
           :macos-x64 {:jvm-opts ["-XstartOnFirstThread"
                                  "--enable-native-access=ALL-UNNAMED"]
                       :extra-deps {org.lwjgl/lwjgl$natives-macos {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-openal$natives-macos {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-stb$natives-macos {:mvn/version "3.4.3"}}}
           :linux-x64 {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                       :extra-deps {org.lwjgl/lwjgl$natives-linux {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-openal$natives-linux {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.4.3"}
                                    org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.4.3"}}}
           :windows-x64 {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                         :extra-deps {org.lwjgl/lwjgl$natives-windows {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-openal$natives-windows {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.4.3"}
                                      org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.4.3"}}}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "morphe.lwjgl-test-runner"]}}}
