{:deps {}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                          deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                   :ns-default build}}}
