{:paths ["src"]
 :deps {morphe/core {:local/root "../../modules/morphe-next"}
        morphe/quil {:local/root "../../modules/morphe-next-quil"}}
 :aliases {:run {:main-opts ["-m" "snake-event.main"]}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "snake-event.test-runner"]}}}
